<div class="container justify-content-center">
    <h1 class="title">Telep</h1>
    
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Keszito</th>
                <td>Balogh Csenge Agota</td>
            </tr>
            <tr>
                <th>Osztaly</th>
                <td>Szoft_II_N</td>
            </tr>
            <tr>
                <th>Datum</th>
                <td>2022.12.29.</td>
            </tr>
            <tr>
                <th>GitHub</th>
                <td>
                    <a  target="_blank"
                        href="https://github.com/csengekulker">Github
                    </a>
                </td>
            </tr>
        </tbody>
    
    </table>
</div>